body{
    margin: 0;
    background: url(../Rezume_2_0_html_css/img/pattern.png);
    
}


.ava{
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0,0,0, 25);
}

.card p{
    font-size: 20px;
    font-style: initial;
}

.social{
    
}

.bigbox{
    width: 700px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(255, 253, 253);
    box-shadow: 0 5px 100px rgb(63, 14, 6);
    border-radius: 30px;
      

}

a{
    color: rgb(24, 4, 136);
    text-decoration: none;
}

a:hover{
    text-decoration:underline ;
}

.bg-yelow{
background-color: rgb(235, 226, 149);
}

.bg-green{
background-color: rgb(196, 235, 158);
}

.bg-red{
background-color: rgb(240, 190, 190);
}

.bg-blue{
    background-color: rgb(176, 191, 236);
}

.card{
    padding: 15px 20px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.table{
    width: 100%;
    
    text-align: center;
}